//- updates.pug
doctype html
html
  head
    title Update Custom Object - Integrating With HubSpot | Practicum
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1= pageTitle
    .form-wrapper
      form(id="updateForm")
        label(for="name") Name:
        input(type="text" id="name" name="name")
        label(for="email") Email:
        input(type="email" id="email" name="email")
        label(for="contactNumber") Contact Number:
        input(type="tel" id="contactNumber" name="contactNumber")
        //- Add more input fields for other data
        button(type="button" onclick="submitFormAsJson()") Submit
    a(href="/") Return to Homepage

script.
  function submitFormAsJson() {
    var form = document.getElementById('updateForm');
    var formData = new FormData(form);
    var jsonObject = {};
    formData.forEach(function(value, key){
      jsonObject[key] = value;
    });
    var jsonData = JSON.stringify(jsonObject);
    
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/update-cobj");
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send(jsonData);
  }
